# Firebase Client Configuration (Public)
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""

# Firebase Admin Configuration (Private)
FIREBASE_SERVICE_ACCOUNT=""
FIREBASE_DATABASE_ID=""

# Google Sheets API Configuration (Service Account)
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_PRIVATE_KEY=""

# Gemini API Key
NEXT_PUBLIC_GEMINI_API_KEY=""

# App Configuration
NEXT_PUBLIC_SUPER_ADMIN_EMAIL=""
JWT_SECRET="YOUR_JWT_SECRET"
WEBHOOK_SECRET="Mhk31_Auto_X7"
