@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-bengali), ui-sans-serif, system-ui, sans-serif;
  --text-xs: 13px;
  --text-sm: 14px;
}

@layer utilities {
  .text-\[10px\] {
    font-size: 13px !important;
  }
}

@layer base {
  html, body {
    font-family: var(--font-sans);
  }
}
