@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", "Noto Sans Bengali", ui-sans-serif, system-ui, sans-serif;
  --text-xs: 12px;
  --text-sm: 13px;
}

@layer utilities {
  .text-\[10px\] {
    font-size: 13px !important;
  }
}

@layer base {
  html, body {
    font-family: var(--font-sans);
  }
}